$primary-color: #8dc63f;
$bg-color: #f8f9fa;

:host {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: border-box;
}

.sg-card {
  background-color: $bg-color;
  box-shadow: 0 15px 38px 0 rgba(0, 0, 0, .1);
  padding: 1.5rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    color: black;
    background-color: white;
    text-decoration: none;

    &:hover {
      color: $primary-color;
    }
  }

  h3, h6 {
    margin-bottom: .5rem;
    margin-top: 0;
    font-weight: 500;
    line-height: 1.2;
  }

  h3  {
    font-size: 1.75rem;
  }

  &__time {
    flex-basis: 20%;
    color: $primary-color;
    font-size: 22px;
    font-weight: 700;
  }

  &__content {
    flex-basis: 75%;
  }

  &__speakers {
    font-size: 1rem;
  }
}
