body {
  background-color: #dee7e7 !important;
}

.sg-card {
  background-color: #f8f9fa;
  box-shadow: 0 15px 38px 0 rgba(0, 0, 0, .1);
  padding: 1.5rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sg-card a {
  color: black;
}

.sg-card a:hover {
  color: #8dc63f;
}

.sg-card__title {
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: 1.75rem;
}

.sg-card__time {
  flex-basis: 20%;
  color: #8dc63f;
  font-size: 22px;
  font-weight: 700;
}

.sg-card__content {
  flex-basis: 75%;
}
